// colors
$colors:(
    primary:#DB9E3F,
    white:#fff,
    light:#f9f9f9,
    black:#000,
    dark:#222,
    gray:#999
);

// font-size
$base-font-size:1rem;
$font-sizes:(
    xs:0.7143, //10px
    sm:0.8571, //12px
    md:1, //14px
    lg:1.1429, //16px
    xl:1.2857 //18px
);

// flex
$flex-jc:(
    start:flex-start,
    center:flex-center,
    end:flex-end,
    between:space-between,
    around:space-around
);
$flex-ai:(
    start:flex-start,
    center:flex-center,
    end:flex-end,
    stretch:stretch
);

// margin和padding
$spacing-types:(
    m:margin,
    p:padding
);
$spacing-direction:(
    t:top,
    r:right,
    b:bottom,
    l:left
);
$base-spacing-size:1rem;
$spacing-sizes:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3,
);
